# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [4]:
# convert item_price into float
chipo['price_float'] = pd.to_numeric(chipo['item_price'].str.slice(1))

# prices = [float(value[1 : -1]) for value in chipo.item_price]
# # float(value[1 : -1]) converts string to float, for example $2.39 is converted to 2.39
# # [1:-1] is to remove the $ sign and the space in the string

In [5]:
chipo.price_float.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: price_float, dtype: float64

### Step 4. How many products cost more than $10.00?

In [18]:

product_prices_gte10 = (chipo['price_float'] > 10).sum()
product_prices_gte10  # 1130
# total amount of orders where the price is greather than $10
print(f'There are a total of {product_prices_gte10} orders where the price is greather than $10')

There are a total of 1130 orders where the price is greather than $10

In [16]:
max_price = chipo.groupby(['item_name']).agg({'price_float': 'max'})
max_price.sort_values(by= 'price_float', ascending = False)

# There are 50 different products where the prices are greather than $10

                                       price_float
item_name
Chips and Fresh Tomato Salsa                 44.25
Carnitas Bowl                                35.25
Chicken Burrito                              35.00
Veggie Burrito                               33.75
Chicken Bowl                                 32.94
Steak Burrito                                27.75
Steak Bowl                                   26.07
Steak Salad Bowl                             23.78
Chicken Salad Bowl                           22.50
Bowl                                         22.20
Chicken Soft Tacos                           21.96
Steak Soft Tacos                             18.50
Carnitas Burrito                             18.50
Barbacoa Crispy Tacos                        18.50
Steak Crispy Tacos                           17.98
Carnitas Crispy Tacos                        17.98
Chips and Guacamole                          17.80
Chicken Crispy Tacos                         17.50
Veggie Bowl                                  16.98
Veggie Soft Tacos                            16.98
Bottled Water                                15.00
Side of Chips                                13.52
6 Pack Soft Drink                            12.98
Carnitas Salad Bowl                          11.89
Barbacoa Salad Bowl                          11.89
Carnitas Soft Tacos                          11.75
Barbacoa Burrito                             11.75
Barbacoa Bowl                                11.75
Barbacoa Soft Tacos                          11.75
Veggie Salad Bowl                            11.25
Chicken Salad                                10.98
Carnitas Salad                                8.99
Steak Salad                                   8.99
Veggie Salad                                  8.49
Veggie Crispy Tacos                           8.49
Burrito                                       7.40
Crispy Tacos                                  7.40
Salad                                         7.40
Chips and Tomatillo-Red Chili Salsa           7.17
Nantucket Nectar                              6.78
Chips                                         6.45
Chips and Roasted Chili Corn Salsa            5.90
Chips and Tomatillo Green Chili Salsa         5.90
Chips and Tomatillo Red Chili Salsa           5.90
Canned Soft Drink                             5.00
Chips and Tomatillo-Green Chili Salsa         4.78
Canned Soda                                   4.36
Izze                                          3.39
Chips and Mild Fresh Tomato Salsa             3.00
Chips and Roasted Chili-Corn Salsa            2.39

In [17]:
max_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 6 Pack Soft Drink to Veggie Soft Tacos
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_float  50 non-null     float64
dtypes: float64(1)
memory usage: 800.0+ bytes

In [15]:
price_gte10 =  (max_price['price_float'] > 10).sum()
price_gte10
# the total number of prdocuts(items) where the price is greather than $10

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?