# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [13]:
chipo.head()
prices = [float(value[1 : -1]) for value in chipo.item_price]
# float(value[1 : -1]) converts string to float, for example $2.39 is converted to 2.39
# [1:-1] is to remove the $ sign and the space in the string

chipo['item_price'] = prices

# replace the column item_price with the new column without the dollar sign (float value)

TypeError: 'float' object is not subscriptable

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?