# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [21]:
url = ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [22]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [23]:
# convert item_price into float
# create a new column price_float where the item_price is converted to float
chipo['price_float'] = pd.to_numeric(chipo['item_price'].str.slice(1))

# prices = [float(value[1 : -1]) for value in chipo.item_price]
# # float(value[1 : -1]) converts string to float, for example $2.39 is converted to 2.39
# # [1:-1] is to remove the $ sign and the space in the string

In [24]:
chipo.price_float.head()
# check if the conversion was successful

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: price_float, dtype: float64

### Step 4. How many products cost more than $10.00?

In [25]:

product_prices_gte10 = (chipo['price_float'] > 10).sum()
product_prices_gte10  # 1130
# total amount of orders where the price is greather than $10
print(f'There are a total of {product_prices_gte10} orders where the price is greather than $10')

There are a total of 1130 orders where the price is greather than $10

In [39]:
chipo['price_per_item'] = chipo['price_float'] / chipo['quantity']
# create a new column for price per item
# this is because there are orders where the quantity is greater than 1 with prices greater than $10
chipo['price_per_item']

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: price_per_item, Length: 4622, dtype: float64

In [27]:
product_price = chipo.groupby(['item_name']).agg({'price_per_item': 'max'})
product_price
# group the data by item_name and find the maximum price per item
# There are 50 different products where the prices are greather than $10

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

In [28]:
product_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 6 Pack Soft Drink to Veggie Soft Tacos
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price_per_item  50 non-null     float64
dtypes: float64(1)
memory usage: 800.0+ bytes

In [29]:
price_gte10 =  (product_price['price_per_item'] > 10).sum()
price_gte10
# the total number of products(items) where the price is greather than $10
# using 'price_float' because we have converted the column to float instead of item_price

25

In [41]:
product_price[product_price['price_per_item'] > 10]

                       price_per_item
item_name
Barbacoa Bowl                   11.75
Barbacoa Burrito                11.75
Barbacoa Crispy Tacos           11.75
Barbacoa Salad Bowl             11.89
Barbacoa Soft Tacos             11.75
Carnitas Bowl                   11.75
Carnitas Burrito                11.75
Carnitas Crispy Tacos           11.75
Carnitas Salad Bowl             11.89
Carnitas Soft Tacos             11.75
Chicken Bowl                    11.25
Chicken Burrito                 11.25
Chicken Crispy Tacos            11.25
Chicken Salad                   10.98
Chicken Salad Bowl              11.25
Chicken Soft Tacos              11.25
Steak Bowl                      11.75
Steak Burrito                   11.75
Steak Crispy Tacos              11.75
Steak Salad Bowl                11.89
Steak Soft Tacos                11.75
Veggie Bowl                     11.25
Veggie Burrito                  11.25
Veggie Salad Bowl               11.25
Veggie Soft Tacos               11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [30]:
product_price.head()

                       price_per_item
item_name
6 Pack Soft Drink                6.49
Barbacoa Bowl                   11.75
Barbacoa Burrito                11.75
Barbacoa Crispy Tacos           11.75
Barbacoa Salad Bowl             11.89

### Step 6. Sort by the name of the item

In [31]:
product_price.sort_values(by='item_name', ascending=True)

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
chipo['price_float'].idxmax()
# index of the quantity with the highest price ordered

3598

In [33]:
chipo.loc[3598, :]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
price_float                                  44.25
price_per_item                                2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [34]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']
# filter to find all rows where the item_name is 'Veggie Salad Bowl'

,order_id,quantity,item_name,choice_description,item_price,price_float,price_per_item
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25,11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25,11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75,8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25,11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [35]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].quantity.sum()
# filter to find all rows where the item_name is 'Veggie Salad Bowl'

18

### Step 9. How many times did someone order more than one Canned Soda?

In [36]:
chipo[chipo['item_name'] == 'Canned Soda']

,order_id,quantity,item_name,choice_description,item_price,price_float,price_per_item
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18,1.09
53,24,1,Canned Soda,[Sprite],$1.09,1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
...,...,...,...,...,...,...,...
3897,1562,1,Canned Soda,[Mountain Dew],$1.09,1.09,1.09
3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09,1.09
4008,1604,1,Canned Soda,[Diet Coke],$1.09,1.09,1.09
4051,1621,1,Canned Soda,[Sprite],$1.09,1.09,1.09

In [37]:
(chipo[chipo['item_name'] == 'Canned Soda'].quantity > 1).sum()
# 20 times where canned soda where quantity ordered is greater than 1

20

In [38]:
(chipo[chipo['item_name'] == 'Canned Soda'].quantity > 1).count()
# 104 times where canned soda is ordered

104